/* Estilos inicio */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,100;1,300;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 5rem;
  background-color: #667a52;
}
h1 {
  margin: 20px 0 0 0;
  color: #667a52;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
h2 {
  color: #7a8db5;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
p {
  font-size: 1rem;
  margin: 2rem 0 3rem 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.inicio {
  background-image: url("/assets/flor_inicio.png");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 42.0734px 42.0734px;
  background-color: #fcf2ea;
}
.botones {
  width: 70%;
  display: flex;
  padding-top: 3.5rem;
  justify-content: space-between;
}
img {
  margin: 1rem;
  width: 80%;
}
.boton_iniciar {
  display: flex;
  justify-content: center;
  width: 8rem;
  color: white;
  background-color: #8da681;
  font-family: "Montserrat", sans-serif;
  border-radius: 16px;
  padding: 0.8rem;
}
.boton_registrarse {
  display: flex;
  justify-content: center;
  width: 8rem;
  color: white;
  background-color: #8da681;
  font-family: "Montserrat", sans-serif;
  border-radius: 16px;
  padding: 0.8rem;
}
